
<footer class="footer text-center bg-info">
        <p class="mb-0 mt-auto"><strong>© Copyright 2019 Erdinç Demirok</strong></p>
        <div class="container">
        <a href="#" style="color: black;"><i class="fab fa-facebook-f"></i></a>
          <a href="#" style="color: black;"><i class="fab fa-twitter"></i></a>
          <a href="#" style="color: black;"><i class="fab fa-instagram"></i></a>
          <a href="#" style="color: black;"><i class="fas fa-envelope"></i></a>
          </div>  
    </footer>

    </div>
</body>
</html>
