
<footer class="footer mt-auto bg-info" style="text-align: center;">
        <p><strong>© Copyright 2019 Erdinç Demirok</strong></p>
          <a href="#" style="color: black;"><i class="fab fa-facebook-f"></i></a>
          <a href="#" style="color: black;"><i class="fab fa-twitter"></i></a>
          <a href="#" style="color: black;"><i class="fab fa-instagram"></i></a>
          <a href="#" style="color: black;"><i class="fas fa-envelope"></i></a>
    </footer>
</body>
</html>
