<%- include partials/header.ejs -%>
<div class="container">
<h1>Compose</h1>

<form action="/compose" method="post">
  <div class="form-group">
    <label class="mt-3" for="inputValue">Title</label>
    <input
      class="col form-control "
      type="text"
      name="postTitle"
      autocomplete="off"
      autofocus
    />
    <label class="mt-3" for="postarea">Post</label>
    <textarea
      class="col form-control "
      name="postArea"
      cols="30"
      rows="7"
    ></textarea>
  </div>
  <button
    type="submit"
    name="button"
    class="btn btn-primary btn-lg float-left"
  >
    Publish
  </button>
</form>
</div>
<%- include partials/footer.ejs -%>
