<%- include('partials/header'); -%>
<div class="container mt-4">   
  <form class="form-signin" action="/login" method="POST">
    <div class="text-center form-group mb-4">
       <img class="mb-2" src="/img/newspaper-512.png" alt="" width="72" height="72">
        <h1 class="h3 mb-2 font-weight-normal">Login Page</h1>
    </div>

      <div class="form-label-group">
        <input
          type="text"
          id="inputEmail"
          name="inputEmail"
          class="form-control"
          placeholder="Username"
          required
          autofocus
          autocomplete="off"
        />
        <label for="inputEmail">Username</label>
      <div class="invalid-feedback">
      Please enter correct information!!!.
    </div>
      </div>
      <div class="form-label-group">
        <input
          type="password"
          id="inputPassword"
          name="inputPassword"
          class="form-control"
          placeholder="Password"
          required
        />
        <label for="inputPassword">Password</label>
      </div>
      <button class="btn btn-lg btn-primary btn-block" type="submit">
        Login
      </button>
    </form>
    </div> 
  <%- include('partials/footer'); -%>